:root {
    --main-text: #3d7c54;
    --highligh: #dee99d;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body  {
    color: var(--main-text);
    font-family: "Lucida Console", Courier, monospace;
  }

header {
    padding: 20px 35px;
    background-color: #dee99d;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

header a {
    text-decoration: none;
    color: var(--main-text);
  }
  
  header nav {
    margin: 5px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    margin: 0 20px;
    font-weight: lighter;
    font-size: 1.55vw;
  }

footer {

}

.hero {
    background-image: url('../assets/images/hero.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .project {
    margin: 20px;
    display: flex;
    flex: 1;
    background: var(--highligh);
    color: var(--main-text);
    justify-content: space-around;
  }

  .project img {
    width: 100%;
  }
  